*{
    font-family: 'Intern', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
nav{
    height: 60px;
    width: 100%;
    display: flex;
    padding: 20px 50px;
    box-shadow: 0px 2.98256px 7.4564px rgba(4, 115, 241, 0.731);
    align-items: center;
    overflow: scroll;
    overflow: hidden;
}
.nav--logo{
    margin: 0;
    height: 60px;
    max-width: 100px;
}
#nav--title{
    color: #0680c7;
    margin: auto;
    margin-left: 0;
}
#nav--subscribe{
    color: #1f92de;
    font-size: small;
}
.card{
    padding: 30px 30px;
    width: 50%;
    display: flex;
    /* flex: 0 0 auto; */
}

.card--img{
    width: 50%;
    border-radius: 9px;
    margin-right: 20px;
}
.card--detail{
    height: auto;
    display: flex;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 11; /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal; 
}
.placeName{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #44545e;
}
p{
    color: #44545e;
    font-size: 14px;
}
#p--interest{
    color: #0a682b;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-wrap: wrap;

}
@media (max-width: 800px) {
    .card{
      flex-basis: 100%; /* Each div occupies 100% of the container's width in column mode */
    }
    #nav--subscribe{
        display: none;
    }
  }