* {
    font-family: 'Intern', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

nav,.nav--dark, footer {
    height: 60px;
    width: 100%;
    display: flex;
    padding: 20px 50px;
    box-shadow: 0px 2.98256px 7.4564px rgba(4, 115, 241, 0.731);
    align-items: center;
    overflow: scroll;
    overflow: hidden;
}

.nav--dark{
    box-shadow: 0px 2.98256px 7.4564px rgb(244, 246, 246);
    background-color: #21222A;

}

.nav--logo {
    margin: 0;
    height: 60px;
    max-width: 100px;
    border-radius: 50%;
}

#nav--title {
    color: #0680c7;
    margin: auto;
    margin-left: 0;
}

#nav--subscribe {
    color: #1f92de;
    font-size: small;
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
}
.main--dark{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    background-color: #282D35;
}
.container,.container--dark {
    width: 50%;
    padding-bottom: 20px;
}

.container--dark p{
    color: white;
}
.container--dark h3{
color: blanchedalmond;
}

.container-child {
    max-width: 100%;
    display: flex;
}

.child-inner {
    width: 50%;
    padding: 10px;
}

.child-inner img {
    max-width: 100%;
    border-radius: 9px;
    margin-right: 20px;
    height: auto;
}

.placeName {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #44545e;
}

p {
    color: #44545e;
    font-size: 14px;
}

#p--interest {
    color: rgb(100, 171, 185);
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}

.toggler--slider{
background-color: #2B283A;
width: 25px;
height: 13px;
border-radius: 2rem;
margin-inline: 7px;
border: 1px solid black;
box-sizing: content-box;
cursor: pointer;
display: flex;
justify-content: flex-start;
}
.nav--dark .toggler--slider{
    border-color: white;
    background-color: #F5F5F5;
    justify-content: flex-end;
}
.toggler--slider--circle{
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
.nav--dark .toggler--slider--circle{
    background-color: black;
}

.toggler--light{
    color: #2B283A;
}
.nav--dark .toggler--light{
    color: #918E9B;
}
.toggler--dark{
    color: #D5D4D8;
}
.nav--dark .toggler--dark{
    color: white;
}
ul{
    display: flex;

}
li{
    margin: 20px;
}

footer{
    background-color: #98b7e3;
}

@media (max-width: 800px) {
    .card {
        flex-basis: 100%;
        /* Each div occupies 100% of the container's width in column mode */
    }
    nav,.nav--dark, .main,.main--dark{
        padding: 0 0px;
    }
    #nav--title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: calc(32px * 0.5);
    }
    #nav--subscribe {
        display: none;
    }
    .container-child{
        flex-direction: column;
    }
    .main,.main--dark{
        flex-direction: column;
    }
    .container,.container--dark{
        width: 100%;
    }
    .child-inner{
        width: 100%;
    }
    footer ul{
        display: none;
    }
}